Source: amethyst-core
Maintainer: Dean Serenevy <dean@serenevy.net>
Section: python
Priority: optional
Build-Depends: debhelper (>= 12), debhelper-compat (= 12), dh-python,
 python3-all, python3-setuptools, python3-pytest, python3-pytest-cov
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: python3-amethyst-core
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Sober Python base library (Python 3)
 Provides a base object class which can serializes itself to JSON and
 includes additional utility functions.
