Source: amethyst-core
Maintainer: Dean Serenevy <dean@serenevy.net>
Section: python
Priority: optional
Build-Depends: debhelper (>= 10), dh-python,
 python3-all, python3-setuptools, python3-six, python3-pytest, python3-pytest-cov
Standards-Version: 4.4.0

Package: python3-amethyst-core
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A sober python base library (Python 3)
 Provides a base object class which can serializes itself to JSON and
 includes additional utility functions.
